RewriteEngine Off
RewriteEngine On

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $.php

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([\w-]+)$ index.php?endpoint=$1
RewriteRule ^([\w-]+)/(.*)$ index.php?endpoint=$1&params=$2